In [1]:
import pandas as pd
import geopandas as gpd
# Do not run

In [2]:
blocks = gpd.read_file('blocks.geojson')
blocks = blocks.set_index('id').sort_values(by='id')
blocks

    study_case    area                                           geometry
id
1    Rusanivka  275780  POLYGON ((30.59117 50.44540, 30.59283 50.44550...
2    Rusanivka  437957  POLYGON ((30.59959 50.43500, 30.59912 50.43545...
3    Rusanivka  201980  POLYGON ((30.59222 50.43813, 30.59682 50.43840...
4   Pn.-Brovar  264071  POLYGON ((30.60920 50.45692, 30.60901 50.45700...
5   Pn.-Brovar  351799  POLYGON ((30.61459 50.46104, 30.61475 50.46108...
6   Pn.-Brovar  422894  POLYGON ((30.61329 50.46305, 30.61878 50.46989...
7        Ozera   99614  POLYGON ((30.60248 50.46630, 30.60229 50.46668...
8     Comfort   408987  POLYGON ((30.62148 50.43057, 30.62121 50.43232...

In [ ]:
buildings = gpd.read_file('Kyiv_buildings.geojson')
buildings

In [ ]:
filtered = buildings.sjoin(blocks, predicate="within", how="inner")

                   use
index_right
0            mixed use
2            mixed use
3            mixed use
6            mixed use
7            mixed use
...                ...
525          mixed use
526          mixed use
527          mixed use
542          mixed use
544          mixed use

[103 rows x 1 columns]

In [ ]:
gpd.to_file('Kyiv_buildings_filtered.geojson')